In [1]:
import pandas as pd

In [31]:
sff_preds_0 = pd.read_csv('/Users/santiagoromano/Documents/code/MasterThesis/results/inference/predictions_cluster_0_sff.csv')
sff_preds_1 = pd.read_csv('/Users/santiagoromano/Documents/code/MasterThesis/results/inference/predictions_cluster_1_sff.csv')
sff_preds_2 = pd.read_csv('/Users/santiagoromano/Documents/code/MasterThesis/results/inference/predictions_cluster_2_sff.csv')

sff_preds_0.drop(columns=['cant_vta_pred_sff_median'], inplace=True)
sff_preds_1.drop(columns=['cant_vta_pred_sff_median'], inplace=True)
sff_preds_2.drop(columns=['cant_vta_pred_sff_median'], inplace=True)

sff_preds = pd.concat([sff_preds_0, sff_preds_1, sff_preds_2], ignore_index=True)


mean_preds_0 = pd.read_csv('/Users/santiagoromano/Documents/code/MasterThesis/results/inference/predictions_cluster_0_mean_sale.csv')
mean_preds_1 = pd.read_csv('/Users/santiagoromano/Documents/code/MasterThesis/results/inference/predictions_cluster_1_mean_sale.csv')
mean_preds_2 = pd.read_csv('/Users/santiagoromano/Documents/code/MasterThesis/results/inference/predictions_cluster_2_mean_sale.csv')

mean_preds = pd.concat([mean_preds_0, mean_preds_1, mean_preds_2], ignore_index=True)

In [32]:
print(sff_preds.shape
      , mean_preds.shape)

sff_preds.columns

(19200, 6) (19200, 6)

Index(['pdv_codigo', 'fecha_comercial', 'codigo_barras_sku', 'cant_vta',
       'cluster_sku', 'cant_vta_pred_sff_mean'],
      dtype='object')

In [54]:
preds = sff_preds.merge(mean_preds, on=['pdv_codigo', 'fecha_comercial', 'codigo_barras_sku', 'cant_vta',
       'cluster_sku'], how='inner' )
preds

,pdv_codigo,fecha_comercial,codigo_barras_sku,cant_vta,cluster_sku,cant_vta_pred_sff_mean,cant_vta_pred_mean_pdv_sku
0,1,2024-11-01,7891991000826,2800.0,0,2583.40400,1925.000000
1,1,2024-11-02,7891991000826,5600.0,0,2319.03170,1925.000000
2,1,2024-11-03,7891991000826,350.0,0,1840.06240,1925.000000
3,1,2024-11-04,7891991000826,2450.0,0,1003.35065,1925.000000
4,1,2024-11-05,7891991000826,1050.0,0,1508.62660,1925.000000
...,...,...,...,...,...,...,...
19195,30,2024-11-26,7897395099329,7000.0,2,12934.63400,23846.666667
19196,30,2024-11-27,7897395099329,81550.0,2,12946.59300,23846.666667
19197,30,2024-11-28,7897395099329,23800.0,2,21864.17600,23846.666667
19198,30,2024-11-29,7897395099329,101850.0,2,42020.43000,23846.666667
19199,30,2024-11-30,7897395099329,17150.0,2,33518.83200,23846.666667

In [55]:
end_simulation_date = '2024-11-30'

preds = preds[preds['fecha_comercial'] <= end_simulation_date ]
preds

,pdv_codigo,fecha_comercial,codigo_barras_sku,cant_vta,cluster_sku,cant_vta_pred_sff_mean,cant_vta_pred_mean_pdv_sku
0,1,2024-11-01,7891991000826,2800.0,0,2583.40400,1925.000000
1,1,2024-11-02,7891991000826,5600.0,0,2319.03170,1925.000000
2,1,2024-11-03,7891991000826,350.0,0,1840.06240,1925.000000
3,1,2024-11-04,7891991000826,2450.0,0,1003.35065,1925.000000
4,1,2024-11-05,7891991000826,1050.0,0,1508.62660,1925.000000
...,...,...,...,...,...,...,...
19195,30,2024-11-26,7897395099329,7000.0,2,12934.63400,23846.666667
19196,30,2024-11-27,7897395099329,81550.0,2,12946.59300,23846.666667
19197,30,2024-11-28,7897395099329,23800.0,2,21864.17600,23846.666667
19198,30,2024-11-29,7897395099329,101850.0,2,42020.43000,23846.666667
19199,30,2024-11-30,7897395099329,17150.0,2,33518.83200,23846.666667

In [56]:
group_sum = preds.groupby(['pdv_codigo', 'codigo_barras_sku'])[
    ['cant_vta_pred_sff_mean', 'cant_vta_pred_mean_pdv_sku']
].sum().reset_index()

group_sum

,pdv_codigo,codigo_barras_sku,cant_vta_pred_sff_mean,cant_vta_pred_mean_pdv_sku
0,1,78936683,5.978962e+05,575850.0
1,1,7891149010509,7.759199e+05,743400.0
2,1,7891149107797,3.278400e+06,3011400.0
3,1,7891149200504,6.987836e+05,643650.0
4,1,7891991000796,8.381818e+05,897750.0
...,...,...,...,...
635,30,7894900700015,3.077754e+05,340550.0
636,30,7894900701753,9.502667e+05,1015500.0
637,30,7894900708394,3.687047e+06,3458250.0
638,30,7897395060107,4.938781e+05,516250.0
639,30,7897395099329,6.976515e+05,715400.0

In [57]:
preds_merged = preds.merge(group_sum, on=['pdv_codigo', 'codigo_barras_sku'], suffixes=('', '_total'))
preds_merged

,pdv_codigo,fecha_comercial,codigo_barras_sku,cant_vta,cluster_sku,cant_vta_pred_sff_mean,cant_vta_pred_mean_pdv_sku,cant_vta_pred_sff_mean_total,cant_vta_pred_mean_pdv_sku_total
0,1,2024-11-01,7891991000826,2800.0,0,2583.40400,1925.000000,61639.21505,57750.0
1,1,2024-11-02,7891991000826,5600.0,0,2319.03170,1925.000000,61639.21505,57750.0
2,1,2024-11-03,7891991000826,350.0,0,1840.06240,1925.000000,61639.21505,57750.0
3,1,2024-11-04,7891991000826,2450.0,0,1003.35065,1925.000000,61639.21505,57750.0
4,1,2024-11-05,7891991000826,1050.0,0,1508.62660,1925.000000,61639.21505,57750.0
...,...,...,...,...,...,...,...,...,...
19195,30,2024-11-26,7897395099329,7000.0,2,12934.63400,23846.666667,697651.52640,715400.0
19196,30,2024-11-27,7897395099329,81550.0,2,12946.59300,23846.666667,697651.52640,715400.0
19197,30,2024-11-28,7897395099329,23800.0,2,21864.17600,23846.666667,697651.52640,715400.0
19198,30,2024-11-29,7897395099329,101850.0,2,42020.43000,23846.666667,697651.52640,715400.0
19199,30,2024-11-30,7897395099329,17150.0,2,33518.83200,23846.666667,697651.52640,715400.0

In [58]:
preds_merged.groupby(['pdv_codigo', 'codigo_barras_sku'])['cant_vta'].cumsum()

0          2800.0
1          8400.0
2          8750.0
3         11200.0
4         12250.0
           ...
19195    592550.0
19196    674100.0
19197    697900.0
19198    799750.0
19199    816900.0
Name: cant_vta, Length: 19200, dtype: float64

In [59]:
preds_merged['sff_balance'] = preds_merged['cant_vta_pred_sff_mean_total'] - preds_merged.groupby(['pdv_codigo', 'codigo_barras_sku'])['cant_vta'].cumsum()
preds_merged['mean_balance'] = preds_merged['cant_vta_pred_mean_pdv_sku_total'] - preds_merged.groupby(['pdv_codigo', 'codigo_barras_sku'])['cant_vta'].cumsum()

In [60]:
preds_merged

,pdv_codigo,fecha_comercial,codigo_barras_sku,cant_vta,cluster_sku,cant_vta_pred_sff_mean,cant_vta_pred_mean_pdv_sku,cant_vta_pred_sff_mean_total,cant_vta_pred_mean_pdv_sku_total,sff_balance,mean_balance
0,1,2024-11-01,7891991000826,2800.0,0,2583.40400,1925.000000,61639.21505,57750.0,58839.21505,54950.0
1,1,2024-11-02,7891991000826,5600.0,0,2319.03170,1925.000000,61639.21505,57750.0,53239.21505,49350.0
2,1,2024-11-03,7891991000826,350.0,0,1840.06240,1925.000000,61639.21505,57750.0,52889.21505,49000.0
3,1,2024-11-04,7891991000826,2450.0,0,1003.35065,1925.000000,61639.21505,57750.0,50439.21505,46550.0
4,1,2024-11-05,7891991000826,1050.0,0,1508.62660,1925.000000,61639.21505,57750.0,49389.21505,45500.0
...,...,...,...,...,...,...,...,...,...,...,...
19195,30,2024-11-26,7897395099329,7000.0,2,12934.63400,23846.666667,697651.52640,715400.0,105101.52640,122850.0
19196,30,2024-11-27,7897395099329,81550.0,2,12946.59300,23846.666667,697651.52640,715400.0,23551.52640,41300.0
19197,30,2024-11-28,7897395099329,23800.0,2,21864.17600,23846.666667,697651.52640,715400.0,-248.47360,17500.0
19198,30,2024-11-29,7897395099329,101850.0,2,42020.43000,23846.666667,697651.52640,715400.0,-102098.47360,-84350.0
19199,30,2024-11-30,7897395099329,17150.0,2,33518.83200,23846.666667,697651.52640,715400.0,-119248.47360,-101500.0

In [61]:
final_balance = preds_merged[preds_merged['fecha_comercial'] == end_simulation_date][
    ['pdv_codigo', 'codigo_barras_sku', 'sff_balance', 'mean_balance']
]
final_balance['sff_balance'] = round(final_balance['sff_balance'], 0)
final_balance['mean_balance'] = round(final_balance['mean_balance'], 0)

In [62]:
final_balance = final_balance.sort_values(by=['codigo_barras_sku', 'pdv_codigo']).reset_index(drop=True)
final_balance

     pdv_codigo  codigo_barras_sku  sff_balance  mean_balance
0             1           78936683    -305314.0     -327360.0
1             2           78936683    -174551.0     -203280.0
2             3           78936683      19234.0      100980.0
3             6           78936683    -933435.0     -954030.0
4             7           78936683    -129030.0     -108570.0
..          ...                ...          ...           ...
635          26      7897395099329     -63160.0      -37100.0
636          27      7897395099329    -254828.0     -227500.0
637          28      7897395099329     -67328.0      -98000.0
638          29      7897395099329    -456881.0     -540050.0
639          30      7897395099329    -119248.0     -101500.0

[640 rows x 4 columns]

In [ ]:
unit_cost = 2.5     # Example value
price_cost = 5.0    # Example value