In [2]:
import pandas as pd

In [6]:
data = pd.read_csv('../data/extraccion_cerveza_refrigerantes.csv', sep=';')
data.head()

,PDV_ANONIMIZADO,FECHA_COMERCIAL,CODIGO_BARRAS_SKU,NOME_SKU,QTD_CONTEUDO_SKU,IMP_VTA,CANT_VTA,VOL_VTA,STOCK
0,1,2023-03-07,7891991295093,CERVEJA ORIGINAL LATA CX 8X 269ML,2152.0,25.52,1.0,2152.0,NaN
1,1,2023-03-16,7896045503414,CERVEJA KAISER PILSEN LATA 473ML,473.0,19.45,5.0,2365.0,NaN
2,1,2023-10-30,7896045506873,CERVEJA HEINEKEN LATA 350ML,350.0,231.77,43.0,15050.0,NaN
3,1,2023-11-17,7894900015119,REFRIG COCA COLA VD RET 1L,1000.0,66.42,18.0,18000.0,NaN
4,1,2024-06-25,7891991304184,CERVEJA CORONA ZERO ALCO 330ML,330.0,34.95,5.0,1650.0,NaN