In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [12]:
data = pd.read_csv('../data/extraccion_cerveza_refrigerantes.csv', sep=';')
data.columns = data.columns.str.lower()

data = data.drop(columns=['cant_vta', 'qtd_conteudo_sku'])
data = data.rename(columns={'pdv_anonimizado': 'pdv_codigo', 'nome_sku': 'nombre_sku', 'vol_vta': 'cant_vta'})
data = data.sort_values(by=['pdv_codigo','codigo_barras_sku', 'fecha_comercial' ])
data['fecha_comercial'] = pd.to_datetime(data['fecha_comercial'])

# number of pdvs
print(f"Number of pdvs: {data['pdv_codigo'].nunique()}")
print(f"Number of dates: {data['fecha_comercial'].nunique()}. From {data['fecha_comercial'].min()} to {data['fecha_comercial'].max()}")
print(f"Number of products: {data['codigo_barras_sku'].nunique()}")
print(f"Shape: {data.shape}")
data.head()

Number of pdvs: 30
Number of dates: 737. From 2022-12-01 00:00:00 to 2024-12-10 00:00:00
Number of products: 1121
Shape: (3939181, 7)

,pdv_codigo,fecha_comercial,codigo_barras_sku,nombre_sku,imp_vta,cant_vta,stock
983233,1,2022-12-23,78905351,CERVEJA ORIGINAL DESCARTAVEL 600ML,33.96,2400.0,NaN
1236665,1,2022-12-24,78905351,CERVEJA ORIGINAL DESCARTAVEL 600ML,59.43,4200.0,NaN
2123779,1,2022-12-27,78905351,CERVEJA ORIGINAL DESCARTAVEL 600ML,8.49,600.0,NaN
1054464,1,2022-12-30,78905351,CERVEJA ORIGINAL DESCARTAVEL 600ML,42.45,3000.0,NaN
1105478,1,2022-12-31,78905351,CERVEJA ORIGINAL DESCARTAVEL 600ML,110.37,7800.0,NaN

## Date Features

In [13]:
data = data.assign(
    year=data['fecha_comercial'].dt.year,
    month=data['fecha_comercial'].dt.month,
    day=data['fecha_comercial'].dt.day,
    day_of_week=data['fecha_comercial'].dt.dayofweek,
    is_weekend=data['fecha_comercial'].dt.dayofweek.isin([5, 6]).astype(int),
    quarter=data['fecha_comercial'].dt.quarter,
    week_of_year=data['fecha_comercial'].dt.isocalendar().week,
    day_of_year=data['fecha_comercial'].dt.dayofyear,
    is_month_start=data['fecha_comercial'].dt.is_month_start.astype(int),
    is_month_end=data['fecha_comercial'].dt.is_month_end.astype(int),
    is_first_week=(data['fecha_comercial'].dt.day <= 7).astype(int),
    is_last_week=(data['fecha_comercial'].dt.days_in_month - data['fecha_comercial'].dt.day < 7).astype(int)
)
data

,pdv_codigo,fecha_comercial,codigo_barras_sku,nombre_sku,imp_vta,cant_vta,stock,year,month,day,day_of_week,is_weekend,quarter,week_of_year,day_of_year,is_month_start,is_month_end,is_first_week,is_last_week
983233,1,2022-12-23,78905351,CERVEJA ORIGINAL DESCARTAVEL 600ML,33.96,2400.0,NaN,2022,12,23,4,0,4,51,357,0,0,0,0
1236665,1,2022-12-24,78905351,CERVEJA ORIGINAL DESCARTAVEL 600ML,59.43,4200.0,NaN,2022,12,24,5,1,4,51,358,0,0,0,0
2123779,1,2022-12-27,78905351,CERVEJA ORIGINAL DESCARTAVEL 600ML,8.49,600.0,NaN,2022,12,27,1,0,4,52,361,0,0,0,1
1054464,1,2022-12-30,78905351,CERVEJA ORIGINAL DESCARTAVEL 600ML,42.45,3000.0,NaN,2022,12,30,4,0,4,52,364,0,0,0,1
1105478,1,2022-12-31,78905351,CERVEJA ORIGINAL DESCARTAVEL 600ML,110.37,7800.0,NaN,2022,12,31,5,1,4,52,365,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1663314,30,2024-12-07,8712000025649,CERVEJA HEINEKEN BARRIL METALICO 5L,4314.60,270000.0,159.0,2024,12,7,5,1,4,49,342,0,0,1,0
2186923,30,2024-12-08,8712000025649,CERVEJA HEINEKEN BARRIL METALICO 5L,375.60,20000.0,101.0,2024,12,8,6,1,4,49,343,0,0,0,0
1136394,30,2024-12-09,8712000025649,CERVEJA HEINEKEN BARRIL METALICO 5L,479.40,30000.0,95.0,2024,12,9,0,0,4,50,344,0,0,0,0
2194687,30,2024-02-24,17898915949190,IMPERIO 473ML 12UN,49.80,5676.0,NaN,2024,2,24,5,1,1,8,55,0,0,0,1
3052889,30,2024-02-10,17898915949206,CERVEJA IMPERIO LATA CX 12X 350ML,39.48,4200.0,NaN,2024,2,10,5,1,1,6,41,0,0,0,0

## Temporal Statistics

In [18]:
data = data.assign(
    rolling_mean_7=data['cant_vta'].rolling(window=7).mean().round(2),
    rolling_std_7=data['cant_vta'].rolling(window=7).std().round(2),
    rolling_mean_30=data['cant_vta'].rolling(window=30).mean().round(2),
    rolling_std_30=data['cant_vta'].rolling(window=30).std().round(2)
)
data

,pdv_codigo,fecha_comercial,codigo_barras_sku,nombre_sku,imp_vta,cant_vta,stock,year,month,day,...,week_of_year,day_of_year,is_month_start,is_month_end,is_first_week,is_last_week,rolling_mean_7,rolling_std_7,rolling_mean_30,rolling_std_30
983233,1,2022-12-23,78905351,CERVEJA ORIGINAL DESCARTAVEL 600ML,33.96,2400.0,NaN,2022,12,23,...,51,357,0,0,0,0,NaN,NaN,NaN,NaN
1236665,1,2022-12-24,78905351,CERVEJA ORIGINAL DESCARTAVEL 600ML,59.43,4200.0,NaN,2022,12,24,...,51,358,0,0,0,0,NaN,NaN,NaN,NaN
2123779,1,2022-12-27,78905351,CERVEJA ORIGINAL DESCARTAVEL 600ML,8.49,600.0,NaN,2022,12,27,...,52,361,0,0,0,1,NaN,NaN,NaN,NaN
1054464,1,2022-12-30,78905351,CERVEJA ORIGINAL DESCARTAVEL 600ML,42.45,3000.0,NaN,2022,12,30,...,52,364,0,0,0,1,NaN,NaN,NaN,NaN
1105478,1,2022-12-31,78905351,CERVEJA ORIGINAL DESCARTAVEL 600ML,110.37,7800.0,NaN,2022,12,31,...,52,365,0,1,0,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1663314,30,2024-12-07,8712000025649,CERVEJA HEINEKEN BARRIL METALICO 5L,4314.60,270000.0,159.0,2024,12,7,...,49,342,0,0,1,0,43571.43,99863.00,19666.67,48440.03
2186923,30,2024-12-08,8712000025649,CERVEJA HEINEKEN BARRIL METALICO 5L,375.60,20000.0,101.0,2024,12,8,...,49,343,0,0,0,0,45714.29,99055.06,19833.33,48432.02
1136394,30,2024-12-09,8712000025649,CERVEJA HEINEKEN BARRIL METALICO 5L,479.40,30000.0,95.0,2024,12,9,...,50,344,0,0,0,0,49285.71,97784.99,20333.33,48457.83
2194687,30,2024-02-24,17898915949190,IMPERIO 473ML 12UN,49.80,5676.0,NaN,2024,2,24,...,8,55,0,0,0,1,49382.29,97734.29,20355.87,48450.61
3052889,30,2024-02-10,17898915949206,CERVEJA IMPERIO LATA CX 12X 350ML,39.48,4200.0,NaN,2024,2,10,...,6,41,0,0,0,0,49268.00,97795.28,20162.53,48504.90

In [19]:
data = data.assign(
    lag_1=data['cant_vta'].shift(1),
    lag_7=data['cant_vta'].shift(7),
    lag_30=data['cant_vta'].shift(30)
)
data

,pdv_codigo,fecha_comercial,codigo_barras_sku,nombre_sku,imp_vta,cant_vta,stock,year,month,day,...,is_month_end,is_first_week,is_last_week,rolling_mean_7,rolling_std_7,rolling_mean_30,rolling_std_30,lag_1,lag_7,lag_30
983233,1,2022-12-23,78905351,CERVEJA ORIGINAL DESCARTAVEL 600ML,33.96,2400.0,NaN,2022,12,23,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1236665,1,2022-12-24,78905351,CERVEJA ORIGINAL DESCARTAVEL 600ML,59.43,4200.0,NaN,2022,12,24,...,0,0,0,NaN,NaN,NaN,NaN,2400.0,NaN,NaN
2123779,1,2022-12-27,78905351,CERVEJA ORIGINAL DESCARTAVEL 600ML,8.49,600.0,NaN,2022,12,27,...,0,0,1,NaN,NaN,NaN,NaN,4200.0,NaN,NaN
1054464,1,2022-12-30,78905351,CERVEJA ORIGINAL DESCARTAVEL 600ML,42.45,3000.0,NaN,2022,12,30,...,0,0,1,NaN,NaN,NaN,NaN,600.0,NaN,NaN
1105478,1,2022-12-31,78905351,CERVEJA ORIGINAL DESCARTAVEL 600ML,110.37,7800.0,NaN,2022,12,31,...,1,0,1,NaN,NaN,NaN,NaN,3000.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1663314,30,2024-12-07,8712000025649,CERVEJA HEINEKEN BARRIL METALICO 5L,4314.60,270000.0,159.0,2024,12,7,...,0,1,0,43571.43,99863.00,19666.67,48440.03,10000.0,5000.0,5000.0
2186923,30,2024-12-08,8712000025649,CERVEJA HEINEKEN BARRIL METALICO 5L,375.60,20000.0,101.0,2024,12,8,...,0,0,0,45714.29,99055.06,19833.33,48432.02,270000.0,5000.0,15000.0
1136394,30,2024-12-09,8712000025649,CERVEJA HEINEKEN BARRIL METALICO 5L,479.40,30000.0,95.0,2024,12,9,...,0,0,0,49285.71,97784.99,20333.33,48457.83,20000.0,5000.0,15000.0
2194687,30,2024-02-24,17898915949190,IMPERIO 473ML 12UN,49.80,5676.0,NaN,2024,2,24,...,0,0,1,49382.29,97734.29,20355.87,48450.61,30000.0,5000.0,5000.0
3052889,30,2024-02-10,17898915949206,CERVEJA IMPERIO LATA CX 12X 350ML,39.48,4200.0,NaN,2024,2,10,...,0,0,0,49268.00,97795.28,20162.53,48504.90,5676.0,5000.0,10000.0

In [20]:
data = data.assign(
    diff_1=data['cant_vta'].diff(1),
    diff_7=data['cant_vta'].diff(7),
    diff_30=data['cant_vta'].diff(30)
)
data

,pdv_codigo,fecha_comercial,codigo_barras_sku,nombre_sku,imp_vta,cant_vta,stock,year,month,day,...,rolling_mean_7,rolling_std_7,rolling_mean_30,rolling_std_30,lag_1,lag_7,lag_30,diff_1,diff_7,diff_30
983233,1,2022-12-23,78905351,CERVEJA ORIGINAL DESCARTAVEL 600ML,33.96,2400.0,NaN,2022,12,23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1236665,1,2022-12-24,78905351,CERVEJA ORIGINAL DESCARTAVEL 600ML,59.43,4200.0,NaN,2022,12,24,...,NaN,NaN,NaN,NaN,2400.0,NaN,NaN,1800.0,NaN,NaN
2123779,1,2022-12-27,78905351,CERVEJA ORIGINAL DESCARTAVEL 600ML,8.49,600.0,NaN,2022,12,27,...,NaN,NaN,NaN,NaN,4200.0,NaN,NaN,-3600.0,NaN,NaN
1054464,1,2022-12-30,78905351,CERVEJA ORIGINAL DESCARTAVEL 600ML,42.45,3000.0,NaN,2022,12,30,...,NaN,NaN,NaN,NaN,600.0,NaN,NaN,2400.0,NaN,NaN
1105478,1,2022-12-31,78905351,CERVEJA ORIGINAL DESCARTAVEL 600ML,110.37,7800.0,NaN,2022,12,31,...,NaN,NaN,NaN,NaN,3000.0,NaN,NaN,4800.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1663314,30,2024-12-07,8712000025649,CERVEJA HEINEKEN BARRIL METALICO 5L,4314.60,270000.0,159.0,2024,12,7,...,43571.43,99863.00,19666.67,48440.03,10000.0,5000.0,5000.0,260000.0,265000.0,265000.0
2186923,30,2024-12-08,8712000025649,CERVEJA HEINEKEN BARRIL METALICO 5L,375.60,20000.0,101.0,2024,12,8,...,45714.29,99055.06,19833.33,48432.02,270000.0,5000.0,15000.0,-250000.0,15000.0,5000.0
1136394,30,2024-12-09,8712000025649,CERVEJA HEINEKEN BARRIL METALICO 5L,479.40,30000.0,95.0,2024,12,9,...,49285.71,97784.99,20333.33,48457.83,20000.0,5000.0,15000.0,10000.0,25000.0,15000.0
2194687,30,2024-02-24,17898915949190,IMPERIO 473ML 12UN,49.80,5676.0,NaN,2024,2,24,...,49382.29,97734.29,20355.87,48450.61,30000.0,5000.0,5000.0,-24324.0,676.0,676.0
3052889,30,2024-02-10,17898915949206,CERVEJA IMPERIO LATA CX 12X 350ML,39.48,4200.0,NaN,2024,2,10,...,49268.00,97795.28,20162.53,48504.90,5676.0,5000.0,10000.0,-1476.0,-800.0,-5800.0

## Saving Features

In [3]:
data.to_parquet('processed/features.parquet', index=False)

NameError: name 'data' is not defined

# Cleaning null values in the test set

In [23]:
df = pd.read_parquet('/Users/santiagoromano/Documents/code/MasterThesis/features/processed/cleaned_features.parquet')

In [24]:
df.columns

Index(['pdv_codigo', 'fecha_comercial', 'codigo_barras_sku', 'nombre_sku',
       'imp_vta', 'cant_vta', 'stock', 'year', 'month', 'day', 'day_of_week',
       'is_weekend', 'quarter', 'week_of_year', 'day_of_year',
       'is_month_start', 'is_month_end', 'is_first_week', 'is_last_week',
       'cluster', 'cluster_sku'],
      dtype='object')

In [25]:
test_data = df[
    (df['fecha_comercial'] >= pd.Timestamp("2024-11-01")) & 
    (df['fecha_comercial'] <= pd.Timestamp("2024-11-30"))
]

test_data

,pdv_codigo,fecha_comercial,codigo_barras_sku,nombre_sku,imp_vta,cant_vta,stock,year,month,day,...,is_weekend,quarter,week_of_year,day_of_year,is_month_start,is_month_end,is_first_week,is_last_week,cluster,cluster_sku
617,1,2024-11-01,78936478,REFRIG FANTA LARANJA PET 200ML,18.59,2200.0,560.0,2024,11,1,...,0,4,44,306,1,0,1,0,1,2
618,1,2024-11-02,78936478,REFRIG FANTA LARANJA PET 200ML,21.97,2600.0,546.0,2024,11,2,...,1,4,44,307,0,0,1,0,1,2
619,1,2024-11-03,78936478,REFRIG FANTA LARANJA PET 200ML,38.87,4600.0,498.0,2024,11,3,...,1,4,44,308,0,0,1,0,1,2
620,1,2024-11-04,78936478,REFRIG FANTA LARANJA PET 200ML,15.21,1800.0,477.0,2024,11,4,...,0,4,45,309,0,0,1,0,1,2
621,1,2024-11-05,78936478,REFRIG FANTA LARANJA PET 200ML,38.87,4600.0,477.0,2024,11,5,...,0,4,45,310,0,0,1,0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
876599,30,2024-11-26,7897395099329,CERVEJA PETRA PURO MALTE LATA 350ML,59.80,7000.0,2084.0,2024,11,26,...,0,4,48,331,0,0,0,1,1,0
876600,30,2024-11-27,7897395099329,CERVEJA PETRA PURO MALTE LATA 350ML,580.17,81550.0,2084.0,2024,11,27,...,0,4,48,332,0,0,0,1,1,0
876601,30,2024-11-28,7897395099329,CERVEJA PETRA PURO MALTE LATA 350ML,203.32,23800.0,3548.0,2024,11,28,...,0,4,48,333,0,0,0,1,1,0
876602,30,2024-11-29,7897395099329,CERVEJA PETRA PURO MALTE LATA 350ML,695.49,101850.0,3548.0,2024,11,29,...,0,4,48,334,0,0,0,1,1,0
876603,30,2024-11-30,7897395099329,CERVEJA PETRA PURO MALTE LATA 350ML,146.51,17150.0,3169.0,2024,11,30,...,1,4,48,335,0,1,0,1,1,0

In [26]:
date_counts = (
    test_data.groupby(['codigo_barras_sku', 'pdv_codigo'])
    ['fecha_comercial'].nunique()  # Count unique dates per group
    .reset_index(name='date_count')
)
date_counts

      codigo_barras_sku  pdv_codigo  date_count
0              78908901           5          30
1              78908901           9          30
2              78908901          14          30
3              78908901          19          30
4              78908901          22          30
...                 ...         ...         ...
1315      7898915949209          20          30
1316      7898915949209          21          30
1317      7898915949674          11          30
1318      7898915949797          11          30
1319      7898915949797          18          30

[1320 rows x 3 columns]

In [27]:
date_counts[date_counts['codigo_barras_sku'] == 7898367984018]

Empty DataFrame
Columns: [codigo_barras_sku, pdv_codigo, date_count]
Index: []

In [7]:
incomplete_groups = date_counts[date_counts['date_count'] < 30]
incomplete_groups

Empty DataFrame
Columns: [codigo_barras_sku, pdv_codigo, date_count]
Index: []

In [9]:
keep_mask = ~df.set_index(['codigo_barras_sku', 'pdv_codigo']).index.isin(
    incomplete_groups.set_index(['codigo_barras_sku', 'pdv_codigo']).index
)

# Apply the filter
clean_df = df[keep_mask].copy()
clean_df

,pdv_codigo,fecha_comercial,codigo_barras_sku,nombre_sku,imp_vta,cant_vta,stock,year,month,day,...,is_weekend,quarter,week_of_year,day_of_year,is_month_start,is_month_end,is_first_week,is_last_week,cluster,cluster_sku
1201,1,2022-12-01,78934115,CERVEJA SOL PREMIUM LONG NECK 330ML,8.38,660.0,NaN,2022,12,1,...,0,4,48,335,1,0,1,0,1,1
1202,1,2022-12-02,78934115,CERVEJA SOL PREMIUM LONG NECK 330ML,54.47,4290.0,NaN,2022,12,2,...,0,4,48,336,0,0,1,0,1,1
1203,1,2022-12-03,78934115,CERVEJA SOL PREMIUM LONG NECK 330ML,29.33,2310.0,NaN,2022,12,3,...,1,4,48,337,0,0,1,0,1,1
1204,1,2022-12-13,78934115,CERVEJA SOL PREMIUM LONG NECK 330ML,4.19,330.0,NaN,2022,12,13,...,0,4,50,347,0,0,0,0,1,1
1205,1,2022-12-17,78934115,CERVEJA SOL PREMIUM LONG NECK 330ML,58.68,3960.0,NaN,2022,12,17,...,1,4,50,351,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3170111,30,2024-08-22,7898953990157,CERVEJA ESTRELLA GALICIA 473ML,6.15,473.0,NaN,2024,8,22,...,0,3,34,235,0,0,0,0,1,1
3170112,30,2024-08-23,7898953990157,CERVEJA ESTRELLA GALICIA 473ML,18.45,1419.0,NaN,2024,8,23,...,0,3,34,236,0,0,0,0,1,1
3170113,30,2024-08-24,7898953990157,CERVEJA ESTRELLA GALICIA 473ML,6.15,473.0,NaN,2024,8,24,...,1,3,34,237,0,0,0,0,1,1
3170114,30,2024-09-05,7898953990157,CERVEJA ESTRELLA GALICIA 473ML,6.15,473.0,NaN,2024,9,5,...,0,3,36,249,0,0,1,0,1,1
3170115,30,2024-10-26,7898953990157,CERVEJA ESTRELLA GALICIA 473ML,12.30,946.0,4.0,2024,10,26,...,1,4,43,300,0,0,0,1,1,1

In [13]:
clean_df[['codigo_barras_sku', 'pdv_codigo']].drop_duplicates()

         codigo_barras_sku  pdv_codigo
1201              78934115           1
1880              78936478           1
2536              78936683           1
3269              78938571           1
3880              78939745           1
...                    ...         ...
3159535      7897395060107          30
3160638      7897395099329          30
3163326      7898230716654          30
3164835      7898367984285          30
3170047      7898953990157          30

[1907 rows x 2 columns]

In [14]:
clean_df[['codigo_barras_sku']].drop_duplicates()

         codigo_barras_sku
1201              78934115
1880              78936478
2536              78936683
3269              78938571
3880              78939745
...                    ...
2938212      7896050201176
2954251      7897395060244
2997487      7891991015486
3092624      7891991001380
3164835      7898367984285

[341 rows x 1 columns]

In [16]:
clean_df.to_parquet('processed/cleaned_features.parquet', index=False)

In [28]:
november_data = df[
    (df['fecha_comercial'] >= pd.Timestamp("2024-11-01")) & 
    (df['fecha_comercial'] <= pd.Timestamp("2024-11-30"))
]
skus_with_data = november_data['codigo_barras_sku'].unique()

In [29]:
len(skus_with_data)

155

In [30]:
skus_to_remove = df[~df['codigo_barras_sku'].isin(skus_with_data)]['codigo_barras_sku'].unique()
len(skus_to_remove)

0

In [31]:
filtered_df = df[df['codigo_barras_sku'].isin(skus_with_data)]
filtered_df

,pdv_codigo,fecha_comercial,codigo_barras_sku,nombre_sku,imp_vta,cant_vta,stock,year,month,day,...,is_weekend,quarter,week_of_year,day_of_year,is_month_start,is_month_end,is_first_week,is_last_week,cluster,cluster_sku
0,1,2022-12-01,78936478,REFRIG FANTA LARANJA PET 200ML,5.96,800.0,NaN,2022,12,1,...,0,4,48,335,1,0,1,0,1,2
1,1,2022-12-02,78936478,REFRIG FANTA LARANJA PET 200ML,11.92,1600.0,NaN,2022,12,2,...,0,4,48,336,0,0,1,0,1,2
2,1,2022-12-04,78936478,REFRIG FANTA LARANJA PET 200ML,37.25,5000.0,NaN,2022,12,4,...,1,4,48,338,0,0,1,0,1,2
3,1,2022-12-05,78936478,REFRIG FANTA LARANJA PET 200ML,7.45,1000.0,NaN,2022,12,5,...,0,4,49,339,0,0,1,0,1,2
4,1,2022-12-06,78936478,REFRIG FANTA LARANJA PET 200ML,4.47,600.0,NaN,2022,12,6,...,0,4,49,340,0,0,1,0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
876606,30,2024-12-04,7897395099329,CERVEJA PETRA PURO MALTE LATA 350ML,11.96,1400.0,3077.0,2024,12,4,...,0,4,49,339,0,0,1,0,1,0
876607,30,2024-12-05,7897395099329,CERVEJA PETRA PURO MALTE LATA 350ML,201.23,26950.0,3077.0,2024,12,5,...,0,4,49,340,0,0,1,0,1,0
876608,30,2024-12-06,7897395099329,CERVEJA PETRA PURO MALTE LATA 350ML,727.08,102200.0,2668.0,2024,12,6,...,0,4,49,341,0,0,1,0,1,0
876609,30,2024-12-07,7897395099329,CERVEJA PETRA PURO MALTE LATA 350ML,83.72,9800.0,2616.0,2024,12,7,...,1,4,49,342,0,0,1,0,1,0
876610,30,2024-12-08,7897395099329,CERVEJA PETRA PURO MALTE LATA 350ML,110.63,12950.0,2576.0,2024,12,8,...,1,4,49,343,0,0,0,0,1,0

In [22]:
filtered_df.to_parquet('processed/cleaned_features.parquet', index=False)

In [35]:
november_data = df[
    (df['fecha_comercial'] >= pd.Timestamp("2024-11-01")) & 
    (df['fecha_comercial'] <= pd.Timestamp("2024-11-30"))
]
pdv_skus_with_data = november_data[['codigo_barras_sku','pdv_codigo']].drop_duplicates()

In [36]:
pdv_skus_with_data

        codigo_barras_sku  pdv_codigo
617              78936478           1
1350             78936683           1
1961             78938571           1
2579             78939745           1
3313        7891149010509           1
...                   ...         ...
873847      7894900701753          30
874574      7894900708394          30
875174      7896843201079          30
875870      7897395060107          30
876574      7897395099329          30

[1320 rows x 2 columns]

In [38]:
pdv_skus_with_data['codigo_barras_sku'].nunique()

155

In [39]:
df.shape

(876611, 21)

In [40]:
df = df.merge(pdv_skus_with_data, on=['codigo_barras_sku', 'pdv_codigo'], how='inner')
df

,pdv_codigo,fecha_comercial,codigo_barras_sku,nombre_sku,imp_vta,cant_vta,stock,year,month,day,...,is_weekend,quarter,week_of_year,day_of_year,is_month_start,is_month_end,is_first_week,is_last_week,cluster,cluster_sku
0,1,2022-12-01,78936478,REFRIG FANTA LARANJA PET 200ML,5.96,800.0,NaN,2022,12,1,...,0,4,48,335,1,0,1,0,1,2
1,1,2022-12-02,78936478,REFRIG FANTA LARANJA PET 200ML,11.92,1600.0,NaN,2022,12,2,...,0,4,48,336,0,0,1,0,1,2
2,1,2022-12-04,78936478,REFRIG FANTA LARANJA PET 200ML,37.25,5000.0,NaN,2022,12,4,...,1,4,48,338,0,0,1,0,1,2
3,1,2022-12-05,78936478,REFRIG FANTA LARANJA PET 200ML,7.45,1000.0,NaN,2022,12,5,...,0,4,49,339,0,0,1,0,1,2
4,1,2022-12-06,78936478,REFRIG FANTA LARANJA PET 200ML,4.47,600.0,NaN,2022,12,6,...,0,4,49,340,0,0,1,0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
851258,30,2024-12-04,7897395099329,CERVEJA PETRA PURO MALTE LATA 350ML,11.96,1400.0,3077.0,2024,12,4,...,0,4,49,339,0,0,1,0,1,0
851259,30,2024-12-05,7897395099329,CERVEJA PETRA PURO MALTE LATA 350ML,201.23,26950.0,3077.0,2024,12,5,...,0,4,49,340,0,0,1,0,1,0
851260,30,2024-12-06,7897395099329,CERVEJA PETRA PURO MALTE LATA 350ML,727.08,102200.0,2668.0,2024,12,6,...,0,4,49,341,0,0,1,0,1,0
851261,30,2024-12-07,7897395099329,CERVEJA PETRA PURO MALTE LATA 350ML,83.72,9800.0,2616.0,2024,12,7,...,1,4,49,342,0,0,1,0,1,0
851262,30,2024-12-08,7897395099329,CERVEJA PETRA PURO MALTE LATA 350ML,110.63,12950.0,2576.0,2024,12,8,...,1,4,49,343,0,0,0,0,1,0

In [41]:
df['codigo_barras_sku'].nunique()

155

In [44]:
df.to_parquet('processed/cleaned_features.parquet', index=False)